<div [formGroup]="form" fxLayoutGap="10px">
  <mat-form-field>
    <input matInput formControlName="address1" placeholder="Address1" required>
    <mat-error>Required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="address2" placeholder="Address2" required>
    <mat-error>Required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="city" placeholder="City" required>
    <mat-error>Required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="state" placeholder="State" required>
    <mat-error>Required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="zip" placeholder="Zip">
    <mat-error>Required</mat-error>
  </mat-form-field>
</div>

  {{ form.get('address1').touched | json }}
